* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-white {
    background-color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}